.center {
    text-align: center;
}
.center a {
    margin: 20px;
}
.center h2 {
    margin-top: 40px;
}
.container {
    margin-top: 80px;
}

.home {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }